/* 导航栏 */
.navigation-bar {
    position: fixed;
    width: 100%;
    height: 210px;
    top: 15px;
    justify-content: left;
    align-items: center;
    z-index: 950;
}

/* 鼠标移动后的导航栏 */
.moveNav {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    z-index: 900;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

/* 滚动后背景变为白色 */
.moveNav.scrolled {
    opacity: 1;
    background-color: white;
}

/* 导航栏的列表 */
.navigation-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation-bar li {
    margin: 0 20px;
}

/* 导航栏的链接文字颜色 */
.navigation-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    transition: color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 滚动后，导航栏文字颜色变为黑色 */
.scroll-active .navigation-bar a {
    color: black !important;
}

.navigation-bar a:hover {
    color: #ff9900;
}

/* 右侧导航栏 */
.right-nav {
    position: fixed;
    right: 20px;
    top: 15px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
    z-index: 950;
}

.right-nav a {
    font-size: 30px;
    color: white;
    transition: color 0.3s ease;
}

.right-nav a:hover {
    color: #ff9900;
}

.right-nav i {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

/* 滚动后，右侧导航栏的链接和图标颜色变为黑色 */
.scroll-active .right-nav a,
.scroll-active .right-nav i {
    color: black !important;
}

/* 右侧头像 */
.right-nav img {
    top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}

/* 固定在页面顶部的背景 */
.nav-background {
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 900;
}

.nav-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 手机端响应式调整 */
@media (max-width: 768px) {
    /* 隐藏右侧导航栏中的头像和链接 */
    .right-nav img,
    .right-nav a {
        display: none;
    }

    /* 调整导航栏的样式，使其简化 */
    .navigation-bar ul {
       
        text-align: center;
    }

    .navigation-bar li {
        margin: 0px 20px; /* 增加间距 */
    }
}

/* 小屏设备（如小手机）响应式调整 */
@media (max-width: 480px) {
    /* 进一步调整右侧导航栏 */
    .right-nav {
        top: 5px;
        right: 5px;
    }

    .right-nav a {
        font-size: 22px;
    }
}
